custom-config/*
default-config/*
activemq/*
acm/activiti/*.xml
acm/activiti/versions/*.xml
acm/ldapLastSync.properties
acm/solrLastBatchUpdate.properties
acm/subscriptionEventLastBatchInsert.properties
acm/dataAccessPolicyLastBatchUpdate.properties
acm/notificationLastBatchUpdate.properties
acm/datasource.properties.oracle
acm/caseFileSolrLastMod.properties
acm/complaintSolrLastMod.properties
custom
tmp
acm/resources/resources
seleniumTests/SeleniumReports
seleniumTests/SeleniumDownload
.idea/*
acm/arkcase-instance-identity.properties
onlyoffice/
.mule/*
