<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="transcribePluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges" depends-on="acmGlobalAllowPrivilege">
        <property name="pluginName" value="Transcribe"/>
        <property name="privileges">
            <list>
                <ref bean="acmGlobalAllowPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
				<bean id="createTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/transcribe"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="createAutomaticTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/service/transcribe/{mediaVersionId}/automatic"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
				<bean id="updateTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/transcribe"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
				<bean id="completeTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/transcribe/{id}/complete"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
				<bean id="cancelTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/service/transcribe/{id}/cancel"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
				<bean id="getTranscribeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/transcribe/{id}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
				<bean id="getTranscribeByMediaVersionIdUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/transcribe/media/{mediaVersionId}}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>
