<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="userPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges"
          depends-on="acmGlobalAllowPrivilege">
        <property name="pluginName" value="User Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmGlobalAllowPrivilege"/>
                <ref bean="adminPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="usersGetAllGroupsAndSubgroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/groups/get"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/get"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetSubGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/get/subgroups"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGroupByDirectoryUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/directory/groups/get"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetTopLevelGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/group/get/toplevel"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetGroupMembersUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/get/members"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetGroupSupervisorsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/get/supervisor"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersCreateLdapGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/groups"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersCreateLdapSubgroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/groups/{parentGroupName:.+}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersRemoveGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/remove"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersRemoveSupervisorsFromGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/members/remove"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersRemoveSupervisorFromGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/supervisor/remove/{applyToAll}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersSaveGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/users/group/save"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersSaveSubGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/users/group/save/{parentId}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersSaveMembersToGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/members/save"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersAddSupervisorsToGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/users/group/{groupId}/supervisor/save/{applyToAll}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersFindParticipantTypesForObjectTypeNameUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/participantTypesForObjectTypeName/{objectTypeName}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersFindUsersWithPrivilegeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/withPrivilege/{privilege}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetUsersInfoUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/info"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersGetUsersByGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/users/by-group/{group}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersIsEditingLdapUsersEnabledUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/editingEnabled"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>
                <bean id="usersAddLdapUsersToGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/groups/{groupName:.+}/users"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersAddLdapUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/users"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersEditLdapUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/users/{userId:.+}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersCloneLdapUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/users/{userId:.+}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersChangePasswordUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/users/{userId:.+}/password"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersRemoveLdapUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/users/{userId:.+}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
                <bean id="usersRemoveLdapGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/ldap/{directory:.+}/groups/{groupName:.+}"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>
