<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="functionalAccessPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges"
          depends-on="acmGlobalAllowPrivilege">
        <property name="pluginName" value="Functional Access Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmGlobalAllowPrivilege"/>
                <ref bean="adminPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>                
                <bean id="faGetApplicationRolesUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/functionalaccess/roles"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>

                <bean id="faGetApplicationRolesToGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/functionalaccess/rolestogroups"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>

                <bean id="faGetTopLevelGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/functionalaccess/groups/toplevel"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>

                <bean id="faGetGroupsByPrivilegeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/functionalaccess/groups/{privilege}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>

                <bean id="faGetUsersByPrivilegeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/functionalaccess/users/{privilege}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>

                <bean id="faGetUsersByPrivilegeAndGroupUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/functionalaccess/users/{privilege}/{group}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>

                <bean id="faGetUsersByPrivilegeAndGroupPlusCurrentAssigneeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/service/functionalaccess/users/{privilege}/{group}/{currentAssignee}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean>

                <bean id="faSaveApplicationRolesToGroupsUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/functionalaccess/rolestogroups"/>
                    <property name="requiredPrivilege" ref="adminPrivilege"/>
                </bean>
           </list>
        </property>
    </bean>
</beans>