<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="personPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Person Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmPersonSavePrivilege"/>
                <ref bean="acmPersonFindPrivilege"/>
                <ref bean="acmPersonDeletePrivilege"/>
                <ref bean="acmPersonListPrivilege"/>
                <ref bean="acmPersonTypesPrivilege"/>
                <ref bean="acmPersonModulePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/person"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/people"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/people/{id}/images"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/plugin/people/{id}/images"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/people/{id}/images/{imageId}"/>
                    <property name="requiredPrivilege" ref="acmPersonSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/person/find"/>
                    <property name="requiredPrivilege" ref="acmPersonFindPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/people/{id}"/>
                    <property name="requiredPrivilege" ref="acmPersonFindPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/people/{id}/images"/>
                    <property name="requiredPrivilege" ref="acmPersonFindPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/person/delete/{personId}"/>
                    <property name="requiredPrivilege" ref="acmPersonDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/people/{personId}"/>
                    <property name="requiredPrivilege" ref="acmPersonDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/person/list/{parentType}/{parentId}"/>
                    <property name="requiredPrivilege" ref="acmPersonListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/person/types"/>
                    <property name="requiredPrivilege" ref="acmPersonTypesPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/modules/people/views"/>
                    <property name="requiredPrivilege" ref="acmPersonModulePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/people/{personId}/associations/{objectType}"/>
                    <property name="requiredPrivilege" ref="acmPersonListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="personAssociationPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="PersonAssocaition Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmPersonAssociationSavePrivilege"/>
                <ref bean="acmPersonAssociationDeletePrivilege"/>
                <ref bean="acmPersonAssociationListPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/personAssociation/delete/{personAssocId}"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/person-associations/{personAssocId}"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/personAssociation"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/person-associations"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/personAssociation"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/person-associations"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/personAssociation/{id}"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/person-associations/{id}"/>
                    <property name="requiredPrivilege" ref="acmPersonAssociationListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="organizationPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="Organization Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmOrganizationSavePrivilege"/>
                <ref bean="acmOrganizationListPrivilege"/>
                <ref bean="acmOrganizationDeletePrivilege"/>
                <ref bean="acmOrganizationDetailsPrivilege"/>
                <ref bean="acmOrganizationModulePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/organizations"/>
                    <property name="requiredPrivilege" ref="acmOrganizationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/plugin/organizations"/>
                    <property name="requiredPrivilege" ref="acmOrganizationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organizations"/>
                    <property name="requiredPrivilege" ref="acmOrganizationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/organizations/{organizationId}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organizations/{organizationId}/associations/{objectType}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organizations/{organizationId}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationDetailsPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/modules/organizations/views"/>
                    <property name="requiredPrivilege" ref="acmOrganizationModulePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organizations/search/{organizationId}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="organizationAssociationPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="OrganizationAssocaition Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmOrganizationAssociationDeletePrivilege"/>
                <ref bean="acmOrganizationAssociationSavePrivilege"/>
                <ref bean="acmOrganizationAssociationListPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/organizationAssociation"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/organization-associations"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationSavePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/organizationAssociation/delete/{organizationAssocId}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/plugin/organization-associations/{organizationAssocId}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationDeletePrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organization-associations"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationListPrivilege"/>
                </bean>
                <bean class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/organization-associations/{id}"/>
                    <property name="requiredPrivilege" ref="acmOrganizationAssociationListPrivilege"/>
                </bean>
            </list>
        </property>
    </bean>
    
</beans>