<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="frevvoFormsPluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges"
          depends-on="acmGlobalAllowPrivilege">
        <property name="pluginName" value="Frevvo Forms Plugin"/>
        <property name="privileges">
            <list>
                <ref bean="acmGlobalAllowPrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                
                <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/init"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/init"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/init"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/init"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				

                <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/get/{action}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/get/{action}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				 <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/get/{action}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/get/{action}"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				

                <bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/save"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/save"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="PUT"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/save"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				<bean id="adminUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="DELETE"/>
                    <property name="url" value="/api/{version}/forms/crud/acm/{formName}/save"/>
                    <property name="requiredPrivilege" ref="acmGlobalAllowPrivilege"/>
                </bean><!-- Verified -->
				
				

		   </list>
        </property>
    </bean>
</beans>