<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="acmCasePluginPrivileges" class="com.armedia.acm.pluginmanager.model.AcmPluginPrivileges">
        <property name="pluginName" value="ACM Case Files"/>
        <property name="privileges">
            <list>
                <ref bean="acmCaseModulePrivilege"/>
                <ref bean="caseFileListPrivilege"/>
                <ref bean="saveCasePrivilege"/>
                <ref bean="acmCaseApprovePrivilege"/>
                <ref bean="caseFileCreatePrivilege"/>
                <ref bean="splitCaseFilePrivilege"/>
            </list>
        </property>
        <property name="urlPrivileges">
            <list>
                <bean id="caseTypes" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/caseTypes"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="casefileLandingPage" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casefile"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
			    <bean id="getCaseUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casefile/{caseId}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="getCaseMergeUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/merge-casefiles"/>
                    <property name="requiredPrivilege" ref="saveCasePrivilege"/>
                </bean><!-- verified. changed privilege to saveCasePrivilege -->
				
                <bean id="getCasefileSplitUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/plugin/casefile/split/{parentCasefileId}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="caseById" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/byId/{id}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
				<bean id="saveCaseUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/casefile"/>
                    <property name="requiredPrivilege" ref="saveCasePrivilege"/>
                </bean><!-- verified -->
				
                <bean id="getCasesByStatusUrlPrivilege"
                      class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casebystatus/{timePeriod}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="listAllCasesByUserUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/forUser/{user:.+}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="getCaseFileStatusSummaryUrlPrivilege"
                      class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casebystatus/summary"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="splitCaseFileUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="POST"/>
                    <property name="url" value="/api/{version}/plugin/copyCaseFile"/>
                    <property name="requiredPrivilege" ref="splitCaseFilePrivilege"/>
                </bean><!-- verified -->

                <bean id="listQueuesUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/queues"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="numberOfActiveCaseFilesByQueueGetUrl" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/number/by/queue"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->
				
                <bean id="nextPossibleQueues" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/nextPossibleQueues/{caseFileId}"/>
                    <property name="requiredPrivilege" ref="caseFileListPrivilege"/>
                </bean><!-- verified -->

                <bean id="enqueueCaseFile" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/api/{version}/plugin/casefile/enqueue/{caseId}"/>
                    <property name="requiredPrivilege" ref="saveCasePrivilege"/>
                </bean><!-- verified. changed privilege to saveCasePrivilege-->
                
                <bean id="caseViews" class="com.armedia.acm.pluginmanager.model.AcmPluginUrlPrivilege">
                    <property name="httpMethod" value="GET"/>
                    <property name="url" value="/modules/cases/views/"/>
                    <property name="requiredPrivilege" ref="acmCaseModulePrivilege"/>
                </bean><!-- verified -->
            </list>
        </property>
    </bean>

</beans>
