# id refers to directory name which must be unique across all LDAP sync beans
ldapConfig.id=arkcase
ldapConfig.base=dc=arkcase-ce,dc=local
ldapConfig.authUserDn=CN=Administrator,CN=Users,DC=arkcase-ce,DC=local
ldapConfig.authUserPassword=

ldapConfig.userSearchBase=OU=Users,OU=ArkCase
ldapConfig.groupSearchBase=OU=Groups,OU=ArkCase

ldapConfig.ldapUrl=ldaps://arkcase-ce.local:636

ldapConfig.userAttributes=cn,userAccountControl,sn,givenName,dn,distinguishedname,memberOf,sAMAccountName,userPrincipalName,uid,uidNumber,c,co,company,department,title,msDS-UserPasswordExpiryTimeComputed,modifyTimestamp,description,member

ldapConfig.userDomain=arkcase.org

ldapConfig.syncPageSize=500

ldapConfig.enableEditingLdapUsers=true
ldapConfig.directoryType=activedirectory

ldapConfig.userSearchFilter=(&(objectClass=user)(sAMAccountName=%s))
ldapConfig.allUsersFilter=(&(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2)))
ldapConfig.allChangedUsersFilter=(&(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(modifyTimestamp>=%s))
ldapConfig.allUsersPageFilter=(&(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName>=%s))
ldapConfig.allChangedUsersPageFilter=(&(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(sAMAccountName>=%s)(modifyTimestamp>=%s))
ldapConfig.allUsersSortingAttribute=sAMAccountName
ldapConfig.groupSearchFilterForUser=(&(objectClass=group)(member=%s))
ldapConfig.userIdAttributeName=sAMAccountName
ldapConfig.groupSearchFilter=(objectclass=group)
ldapConfig.changedGroupSearchFilter=(&(objectclass=group)(modifyTimestamp>=%s))
ldapConfig.groupSearchPageFilter=(&(objectclass=group)(cn>=%s))
ldapConfig.changedGroupSearchPageFilter=(&(objectclass=group)(cn>=%s)(modifyTimestamp>=%s))
ldapConfig.groupsSortingAttribute=cn
ldapConfig.userPrefix=
ldapConfig.groupPrefix=
ldapConfig.userControlGroup=
ldapConfig.groupControlGroup=