<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="arkcase-alfrescoSyncScheduledBean" name="arkcase-alfrescoSyncScheduledBean"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoSyncScheduledBean">
        <property name="enabled" value="false"/>
        <property name="alfrescoSyncService" ref="arkcase-alfrescoSyncService"/>
    </bean>

    <bean id="arkcase-alfrescoSyncService" class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoSyncService">
        <property name="propertyFileManager" ref="propertyFileManager"/>
        <property name="auditApplicationRestClient" ref="arkcase-auditApplicationRestClient"/>
        <property name="auditApplicationLastAuditIdsFilename"
            value="#{ systemProperties ['user.home'] }/.arkcase/acm/arkcase-auditApplicationLastIds.properties"/>
        <property name="auditApplications">
            <map>
                <entry key="AuditArkCaseExtractors" value-ref="arkcase-nodeServiceCreateReader"/>
                <entry key="AuditArkCaseCreate" value-ref="arkcase-fileFolderServiceCreateReader"/>
                <entry key="AuditArkCaseDeleteExtractors" value-ref="arkcase-nodeServiceDeleteReader"/>
                <entry key="AuditArkCaseMoveFrom" value-ref="arkcase-fileFolderServiceMoveReader"/>
                <entry key="AuditArkCaseCopy" value-ref="arkcase-copyServiceCopyReader"/>
            </map>
        </property>
    </bean>

    <bean id="arkcase-nodeServiceCreateReader"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoNodeServiceCreateNodeAuditResponseReader"/>
    <bean id="arkcase-nodeServiceDeleteReader"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoNodeServiceDeleteNodeAuditResponseReader"/>
    <bean id="arkcase-fileFolderServiceCreateReader"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoFileFolderServiceCreateAuditResponseReader"/>
    <bean id="arkcase-fileFolderServiceMoveReader"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoFileFolderServiceMoveAuditResponseReader"/>
    <bean id="arkcase-copyServiceCopyReader"
        class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoCopyServiceCopyAuditResponseReader"/>

    <bean id="arkcase-auditApplicationRestClient" class="com.armedia.acm.plugins.ecm.service.sync.impl.AlfrescoAuditApplicationRestClient">
        <property name="protocol" value="https"/>
        <property name="host" value="acm-arkcase"/>
        <property name="port" value="443"/>
        <property name="contextRoot" value="alfresco"/>
        <property name="username" value="admin"/>
        <property name="password" value="admin"/>
    </bean>

</beans>
