<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <!-- import filter chains for LDAP authentication -->
    <beans:import resource="file:${user.home}/.arkcase/acm/spring/spring-security-config-ldap.xml" />
	
	<!-- import filter chains for SSO with SAML authentication -->
    <!-- <beans:import resource="file:${user.home}/.arkcase/acm/spring/spring-security-config-saml.xml" /> -->
</beans:beans>