<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
		
		If you want to add/remove amount to/from a date, the ID in the 'fieldNames' must be in this format: <FIELD_ID_NAME>_<ACTION>_<AMOUNT>_<UNIT>
        Where:
            <FIELD_ID_NAME> is the name that will not have "_" in the name
            <ACTION> can have two values: PLUS or MINUS (can be any case sensitive)
            <AMOUNT> any positive integer number
            <UNIT> can have these values: MILLISECONDS, SECONDS, MINUTES, HOURS, DAYS, YEARS (can be any case sensitive)
		Example:
			currentDate_PLUS_30_DAYS
		
    -->
	   
    <!-- Case File query -->
    <bean id="caseCorrespondenceQuery" class="com.armedia.acm.correspondence.model.CorrespondenceQuery">
        <property name="type" value="CASE_FILE" />
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        cf.caseNumber,
                        cf.title,
                        cf.caseType,
                        cf.status,
                        cf.details,
                        cf.incidentDate,
                        cf.created,
                        au.fullName,
                        cf.modified,
                        aum.fullName,
                        cf.closed,
                        cf.disposition,
                        cf.priority,
                        cf.dueDate,
                        cf.courtroomName,
                        cf.nextCourtDate,
                        cf.responsibleOrganization,
                        COALESCE(p.title, ''),
                        COALESCE(p.givenName, ''),
                        COALESCE(p.middleName, ''),
                        COALESCE(p.familyName, ''),
                        COALESCE(p.hairColor, ''),
                        COALESCE(p.eyeColor, ''),
                        p.heightInInches,
                        p.weightInPounds,
                        p.dateOfBirth,
                        COALESCE(p.placeOfBirth, ''),
                        p.dateMarried,
                        COALESCE(addr.streetAddress, ''),
                        COALESCE(addr.streetAddress2, ''),
                        COALESCE(addr.city, ''),
                        COALESCE(addr.state, ''),
                        COALESCE(addr.zip, ''),
                        COALESCE(addr.country, ''),
                        COALESCE(orgs.organizationType, ''),
                        COALESCE(orgs.organizationValue, ''),
                        COALESCE(contacts.type, ''),
                        COALESCE(contacts.value, ''),
                        COALESCE(aliases.aliasType, ''),
                        COALESCE(aliases.aliasValue, ''),
                        CURRENT_DATE,
						CURRENT_DATE
                    FROM
                        CaseFile cf
                    JOIN PersonAssociation pa
                    JOIN pa.person p
                    LEFT JOIN p.addresses addr
                    LEFT JOIN p.organizations orgs
                    LEFT JOIN p.contactMethods contacts
                    LEFT JOIN p.personAliases aliases
                    LEFT JOIN AcmUser au ON cf.creator = au.userId
                    LEFT JOIN AcmUser aum ON cf.modifier = aum.userId
                    WHERE cf.id = ?1
                    AND cf.id = pa.parentId
                    AND pa.parentType='CASE_FILE'
                    AND pa.personType = "Initiator"
                ]]>
            </value>
        </property>
        <property name="fieldNames">
            <list>
                <value>caseNumber</value>
                <value>caseTitle</value>
                <value>caseType</value>
                <value>caseStatus</value>
                <value>caseDetails</value>
                <value>caseIncidentDate</value>
                <value>caseCreatedDate</value>
                <value>caseCreator</value>
                <value>caseModifiedDate</value>
                <value>caseModifier</value>
                <value>caseClosedDate</value>
                <value>caseDisposition</value>
                <value>casePriority</value>
                <value>caseDueDate</value>
                <value>caseCourtRoomName</value>
                <value>caseNextCourtDate</value>
                <value>caseResponsibleOrganization</value>
                <value>initiatorTitle</value>
                <value>initiatorGivenName</value>
                <value>initiatorMiddleName</value>
                <value>initiatorFamilyName</value>
                <value>initiatorHairColor</value>
                <value>initiatorEyeColor</value>
                <value>initiatorHeightInInches</value>
                <value>initiatorWeightInPounds</value>
                <value>initiatorDateOfBirth</value>
                <value>initiatorPlaceOfBirth</value>
                <value>initiatorDateMarried</value>
                <value>initiatorStreetAddress</value>
                <value>initiatorStreetAddress2</value>
                <value>initiatorCity</value>
                <value>initiatorState</value>
                <value>initiatorZipCode</value>
                <value>initiatorCountry</value>
                <value>initiatorOrganizationType</value>
                <value>initiatorOrganizationValue</value>
                <value>initiatorContactType</value>
                <value>initiatorContactValue</value>
                <value>initiatorAliasType</value>
                <value>initiatorAliasValue</value>
                <value>currentDate</value>
				<value>currentDate_PLUS_30_DAYS</value>
            </list>
        </property>
    </bean>
    
    
    <!-- Complaint query -->
    <bean id="complaintCorrespondenceQuery" class="com.armedia.acm.correspondence.model.CorrespondenceQuery">
        <property name="type" value="COMPLAINT" />
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        cm.complaintNumber,
                        cm.complaintTitle,
                        cm.complaintType,
                        cm.status,
                        cm.details,
                        cm.incidentDate,
                        cm.created,
                        au.fullName,
                        cm.modified,
                        aum.fullName,
                        d.closeDate,
                        COALESCE(d.dispositionType, ''),
                        COALESCE(d.referExternalOrganizationName, ''),
                        COALESCE(d.referExternalContactPersonName, ''),
                        cm.dueDate,
                        COALESCE(p.title, ''),
                        COALESCE(p.givenName, ''),
                        COALESCE(p.middleName, ''),
                        COALESCE(p.familyName, ''),
                        COALESCE(p.hairColor, ''),
                        COALESCE(p.eyeColor, ''),
                        p.heightInInches,
                        p.weightInPounds,
                        p.dateOfBirth,
                        COALESCE(p.placeOfBirth, ''),
                        p.dateMarried,
                        COALESCE(addr.streetAddress, ''),
                        COALESCE(addr.streetAddress2, ''),
                        COALESCE(addr.city, ''),
                        COALESCE(addr.state, ''),
                        COALESCE(addr.zip, ''),
                        COALESCE(addr.country, ''),
                        COALESCE(orgs.organizationType, ''),
                        COALESCE(orgs.organizationValue, ''),
                        COALESCE(contacts.type, ''),
                        COALESCE(contacts.value, ''),
                        COALESCE(aliases.aliasType, ''),
                        COALESCE(aliases.aliasValue, ''),
                        CURRENT_DATE
                    FROM
                        Complaint cm
                    JOIN PersonAssociation pa
                    JOIN pa.person p
                    LEFT JOIN p.addresses addr
                    LEFT JOIN p.organizations orgs
                    LEFT JOIN p.contactMethods contacts
                    LEFT JOIN p.personAliases aliases
                    LEFT JOIN AcmUser au ON cm.creator = au.userId
                    LEFT JOIN AcmUser aum ON cm.modifier = aum.userId
                    LEFT JOIN Disposition d ON cm.complaintId = d.id
                    WHERE cm.complaintId = ?1
                    AND cm.complaintId = pa.parentId
                    AND pa.parentType='COMPLAINT'
                    AND pa.personType = "Initiator"
                ]]>
            </value>
        </property>
        <property name="fieldNames">
            <list>
                <value>complaintNumber</value>
                <value>complaintTitle</value>
                <value>complaintType</value>
                <value>complaintStatus</value>
                <value>complaintDetails</value>
                <value>complaintIncidentDate</value>
                <value>complaintCreatedDate</value>
                <value>complaintCreator</value>
                <value>complaintModifiedDate</value>
                <value>complaintModifier</value>
                <value>complaintCloseDate</value>
                <value>complaintDispositionType</value>
                <value>complaintReferExternalOrganizationName</value>
                <value>complaintReferExternalContactPersonName</value>
                <value>complaintDueDate</value>
                <value>initiatorTitle</value>
                <value>initiatorGivenName</value>
                <value>initiatorMiddleName</value>
                <value>initiatorFamilyName</value>
                <value>initiatorHairColor</value>
                <value>initiatorEyeColor</value>
                <value>initiatorHeightInInches</value>
                <value>initiatorWeightInPounds</value>
                <value>initiatorDateOfBirth</value>
                <value>initiatorPlaceOfBirth</value>
                <value>initiatorDateMarried</value>
                <value>initiatorStreetAddress</value>
                <value>initiatorStreetAddress2</value>
                <value>initiatorCity</value>
                <value>initiatorState</value>
                <value>initiatorZipCode</value>
                <value>initiatorCountry</value>
                <value>initiatorOrganizationType</value>
                <value>initiatorOrganizationValue</value>
                <value>initiatorContactType</value>
                <value>initiatorContactValue</value>
                <value>initiatorAliasType</value>
                <value>initiatorAliasValue</value>
                <value>currentDate</value>
            </list>
        </property>
    </bean> 
</beans>
