# id refers to directory name which must be unique across all LDAP sync beans
ldapConfig.id=arkcase_openldap
ldapConfig.base=dc=arkcase,dc=org
ldapConfig.authUserDn=uid=admin,ou=system
ldapConfig.authUserPassword=ENC(FoAZj16C0QDt6BWen5Ah38re4ERDIEZw0xxZE3nHPO4=)
ldapConfig.userSearchBase=OU=users
ldapConfig.groupSearchBase=OU=groups
ldapConfig.ldapUrl=ldaps://acm-apacheds:10636
ldapConfig.userAttributes=cn,userAccountControl,sn,givenName,dn,distinguishedname,memberOf,sAMAccountName,userPrincipalName,uid,uidNumber,c,co,company,department,title,shadowMax,shadowLastChange,msDS-UserPasswordExpiryTimeComputed,modifyTimestamp,description,member
ldapConfig.userDomain=arkcase.org
ldapConfig.syncPageSize=500
ldapConfig.enableEditingLdapUsers=true
ldapConfig.directoryType=openldap
ldapConfig.userSearchFilter=(&(objectClass=person)(uid=%s))
ldapConfig.allUsersFilter=(&(objectClass=person))
ldapConfig.allChangedUsersFilter=(&(objectClass=person)(modifyTimestamp>=%s))
ldapConfig.allUsersPageFilter=(&(objectClass=person)(uid>=%s))
ldapConfig.allChangedUsersPageFilter=(&(objectClass=person)(uid>=%s)(modifyTimestamp>=%s))
ldapConfig.allUsersSortingAttribute=uid
ldapConfig.groupSearchFilterForUser=(&(objectClass=group)(member=%s))
ldapConfig.userIdAttributeName=uid
ldapConfig.groupSearchFilter=(objectclass=groupOfNames)
ldapConfig.changedGroupSearchFilter=(&(objectclass=groupOfNames)(modifyTimestamp>=%s))
ldapConfig.groupSearchPageFilter=(&(objectclass=groupOfNames)(cn>=%s))
ldapConfig.changedGroupSearchPageFilter=(&(objectclass=groupOfNames)(cn>=%s)(modifyTimestamp>=%s))
ldapConfig.groupsSortingAttribute=cn
ldapConfig.syncEnabled=true
ldapConfig.userPrefix=
ldapConfig.groupPrefix=
ldapConfig.userControlGroup=
ldapConfig.groupControlGroup=
