<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <beans:bean class="com.armedia.acm.crypto.properties.AcmEncryptablePropertySourcesPlaceholderConfigurer">
        <beans:property name="encryptablePropertyUtils" ref="acmEncryptablePropertyUtils"/>
        <beans:property name="location" value="file:${user.home}/.arkcase/acm/spring/spring-config-user-armedia-openldap.properties"/>
    </beans:bean>

    <beans:bean id="armedia_userSync" class="com.armedia.acm.services.users.service.ldap.AcmLdapUserSyncConfig">
        <beans:property name="attributes">
            <beans:map>
                <beans:entry key="cn" value='${openLdapAddUserConfig.cn}'/>
                <beans:entry key="givenName" value='${openLdapAddUserConfig.givenName}'/>
                <beans:entry key="sn" value='${openLdapAddUserConfig.sn}'/>
                <beans:entry key="uid" value='${openLdapAddUserConfig.uid}'/>
                <beans:entry key="mail" value='${openLdapAddUserConfig.mail}'/>
                <beans:entry key="userAccountControl" value='${openLdapAddUserConfig.userAccountControl}'/>
                <beans:entry key="userPassword" value='${openLdapAddUserConfig.userPassword}'/>
                <beans:entry key="uidNumber" value='${openLdapAddUserConfig.uidNumber}'/>
                <beans:entry key="gidNumber" value='${openLdapAddUserConfig.gidNumber}'/>
                <beans:entry key="homeDirectory" value='${openLdapAddUserConfig.homeDirectory}'/>
                <beans:entry key="objectClass" value='${openLdapAddUserConfig.objectClass}'/>
                <beans:entry key="shadowWarning" value='${openLdapAddUserConfig.shadowWarning}'/>
                <beans:entry key="shadowLastChange" value='${openLdapAddUserConfig.shadowLastChange}'/>
                <beans:entry key="shadowMax" value='${openLdapAddUserConfig.shadowMax}'/>
            </beans:map>
        </beans:property>
    </beans:bean>
</beans:beans>
