<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Case File query -->
    <bean id="caseCorrespondenceQuery" class="com.armedia.acm.correspondence.model.CorrespondenceQuery">
        <property name="type" value="CASE_FILE" />
        <property name="jpaQuery">
            <value>

                    <![CDATA[
     SELECT cf.caseNumber,
            cf.title,
            CURRENT_DATE,
            TRIM(CONCAT(
              COALESCE(p.givenName, ''),
              ' ',
              CASE COALESCE(p.middleName, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(p.middleName, ' ') END,
              COALESCE(p.familyName, '')
            )),
            TRIM(',' FROM CONCAT(
              COALESCE(addr.streetAddress, ''),
              CASE COALESCE(addr.streetAddress2, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.streetAddress2) END,
              CASE COALESCE(addr.city, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.city) END,
              CASE COALESCE(addr.state, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.state) END,
              CASE COALESCE(addr.zip, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(' ', addr.zip) END,
              CASE COALESCE(addr.country, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT('  ', addr.country) END
            )),
            au.fullName
     FROM   CaseFile cf,
            AcmUser au,
            cf.personAssociations pa,
            pa.person p left join
            pa.person.addresses addr
     WHERE   cf.id = ?1
     AND     cf.creator = au.userId
     AND     pa.personType = "Initiator"
                     ]]>
            </value>
        </property>
        <property name="fieldNames">
            <list>
                <value>caseNumber</value>
                <value>caseTitle</value>
                <value>currentDate</value>
                <value>initiatorName</value>
                <value>initiatorAddress</value>
                <value>userFullName</value>
            </list>
        </property>
    </bean>
    
    
    <!-- Complaint query -->
    <bean id="complaintCorrespondenceQuery" class="com.armedia.acm.correspondence.model.CorrespondenceQuery">
        <property name="type" value="COMPLAINT" />
        <property name="jpaQuery">
            <value>
                         
                    <![CDATA[
     SELECT cm.complaintNumber,
            cm.complaintTitle,
            CURRENT_DATE,
            TRIM(CONCAT(
              COALESCE(p.givenName, ''),
              ' ',
              CASE COALESCE(p.middleName, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(p.middleName, ' ') END,
              COALESCE(p.familyName, '')
            )),
            TRIM(',' FROM CONCAT(
              COALESCE(addr.streetAddress, ''),
              CASE COALESCE(addr.streetAddress2, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.streetAddress2) END,
              CASE COALESCE(addr.city, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.city) END,
              CASE COALESCE(addr.state, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(', ', addr.state) END,
              CASE COALESCE(addr.zip, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT(' ', addr.zip) END,
              CASE COALESCE(addr.country, 'NULL') WHEN 'NULL' THEN '' ELSE CONCAT('  ', addr.country) END
            )),
            au.fullName
     FROM   Complaint cm,
            AcmUser au,
            cm.personAssociations pa,
            pa.person p left join
            pa.person.addresses addr
     WHERE   cm.complaintId = ?1
     AND     cm.creator = au.userId
     AND     pa.personType = "Initiator"
                     ]]>
            </value>
        </property>
        <property name="fieldNames">
            <list>
                <value>complaintNumber</value>
                <value>complaintTitle</value>
                <value>currentDate</value>
                <value>initiatorName</value>
                <value>initiatorAddress</value>
                <value>userFullName</value>
            </list>
        </property>
    </bean> 
</beans>
