<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <import resource="file:${user.home}/.arkcase/acm/app-config.xml"/>

    <!-- Rules definitions -->
    <bean id="assignRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                 <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'objectAssigned'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="unassignRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'objectUnassigned'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="concurNonConcurRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'concurNonConcur'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="complaintStatusChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'complaintStatusChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="caseStatusChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'caseStatusChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="noteAddedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'noteAdded'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="complaintPriorityChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'complaintPriorityChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="caseFilePriorityChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'casePriorityChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="taskPriorityChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'taskPriorityChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="taskStatusChangedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'taskStatusChanged'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="participantAddedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
               <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'participantsAdded'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="participantDeletedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'participantsDeleted'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="calendarEventAddedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                 <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'calendarEventAdded'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="onForgotPassword" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="userSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'changePassword'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="onForgotUsername" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="forgotUsernameSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'forgotUsername'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="taskOverdue" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="acmEntitySendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'taskOverdue'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="taskUpcoming" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="acmEntitySendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'taskUpcoming'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="taskCompletedNotifyCreator" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="acmEntitySendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'taskCompletedNotifyCreator'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="mentions" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                        n
                    FROM
                        Notification n
                    WHERE
                        n.created >= :lastRunDate
                    AND
                        n.templateModelName = 'mentions'
                ]]>
            </value>
        </property>
    </bean>

    <bean id="transcribeStatus" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'transcribeStatus'
                  ]]>
            </value>
        </property>
    </bean>
    
    <bean id="transcribeQueue" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'transcribeQueued'
                  ]]>
            </value>
        </property>
    </bean>

    <bean id="billingAddedRule" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="noopExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                         n.created >= :lastRunDate
                    AND
                    n.templateModelName = 'billingInvoice'
                ]]>
            </value>
        </property>
    </bean>
    
    <bean id="arrestWarrant" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'arrestWarrant'
                  ]]>
            </value>
        </property>
    </bean>
    
    <bean id="documentAttached" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="notificationSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'documentAttached'
                  ]]>
            </value>
        </property>
    </bean>
    
    <bean id="documentAttachedLinked" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="documentLinkedSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'documentAttachedLinked'
                  ]]>
            </value>
        </property>
    </bean>
    
    <bean id="documentLinked" class="com.armedia.acm.services.notification.model.BasicNotificationRule">
        <property name="globalRule" value="true"/>
        <property name="executor" ref="documentLinkedSendExecutor"/>
        <property name="jpaQuery">
            <value>
                <![CDATA[
                    SELECT
                          n
                    FROM
                          Notification n
                    WHERE
                          n.created >= :lastRunDate
                      AND
                        n.templateModelName = 'documentLinked'
                  ]]>
            </value>
        </property>
    </bean>

</beans>
